@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
body{
    background-color:  hsl(0, 0%, 98%);
}
header{
    margin-top: 10px;
}
.brand-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.brand-section img{
    vertical-align: middle;
}
.navigation-section nav{
    display: none;
    position: fixed;
    height: 100vh;
    width: 50%;
    background-color: hsl(0, 0%, 98%);
    right: 0;
    top: 0;
}
.fade-in{
    animation: navbar-fade-in 0.5s ease forwards;
}
@keyframes navbar-fade-in{
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}
.fade-out{
    animation: navbar-fade-out 0.5s ease forwards;
}
@keyframes navbar-fade-out{
    from{
        width: 50%;
    }
    to{
        width: 0%;
        right: -50px;
    }
}
nav,
.navigation-section,
.navigation-panel,
.navigation-links{
    display: flex;
    flex-direction: column;

}
.navigation-panel{
    cursor: pointer;
}
.navigation-links{
    margin-top: 30px;

}
.navigation-links a{
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.navigation-links a.register{
    border: 1px solid hsl(0, 0%, 0%);
    padding: 7px 15px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px auto;
    display: block;
}
nav{
    padding: 20px;
}
nav .close-navbar-container{
    position: relative;
}
nav .close-navbar-container img{
    width: 20px;
    height: 20px;
    float: right;
}
nav .close-navbar-container img{
    margin-right: 20px;
}
.navigation-panel{
    clear: right;
}
nav img{
    vertical-align: middle;
    width: 12px;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
}
.navigation-section{
    width: 90vw;
    margin: auto;
}
.dropdown-container,.navbar{
    margin: 10px;
}
.dropdown-container p{
    display: flex;
    align-items: center;
    gap: 2px;
}
.dropdown-container a,
.navbar a,
.navigation-links a{
    color:  hsl(0, 0%, 0%);
}
.dropdown-container p:hover,
.dropdown-container a:hover,
.navbar a:hover,
.navigation-links a:hover{
    color: hsl(0, 0%, 41%);
}
.dropdown-container p img{
    height: 8px;
}
.dropdown-content{
    display: none;
}
.dropdown-items.items-img a{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 3px;
}
.dropdown-items.items-img img{
    vertical-align: middle;
}
.dropdown-items a{
    padding: 10px;
    display: inline-block;
}
.hero-content{
    margin: 30px auto;
    width: 90vw;
    text-align: center;
}
.hero-content h1{
    margin: 10px 0;
    font-size: 2rem;
}
.display-img-container{
    width: 90vw;
    margin: 10px auto;
}
.display-img-container img{
    width: 100%;
}
.hero-content a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    margin: 30px 0;
    background-color: hsl(0, 0%, 0%);
}
.hero-content a:hover{
    background-color: #fff;
    color: hsl(0, 0%, 0%);
    outline: 1px solid hsl(0, 0%, 0%);
}
.brand-partners ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 25px;
    width: 100%;
}
.brand-partners img{
    width: 100%;
}
@media screen and (min-width: 768px) {
    header{
        margin-top: 0px;
    }
    .open-navbar-container,
    .close-navbar-container{
        display: none;
    }
    .navigation-section nav{
        display: flex;
        position: initial;
        height: initial;
        width: 100%;
        background-color: initial;
        animation: initial;
    }
    .main-hero{
        display: flex;
        width: 80vw;
        margin: 70px auto;
        height: 400px;
        flex-direction: row-reverse;
    }
    .display-img-container{
        width: 100%;
    }
    .display-img-container img{
        width: 300px;
        height: 100%;
        float: right;
    }
    .hero-content{
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .hero-content h1{
        margin-top: 60px;
        font-size: 40px;
    }
    .hero-content p{
        font-size: 16px;
        width: 300px;
        max-width: 400px;
    }
    .hero-content a{
        width:fit-content;
    }
    .hero-content span{
        display: block;
    }
    nav,
    .navigation-section,
    .navigation-panel,
    .navigation-links{
    display: flex;
    flex-direction: row;
    }
    .navigation-section{
        align-items: center;
        margin: auto;
    }
    nav{
        width: 100%;
        justify-content: space-between;
        padding: 0px;
        align-items: center;
    }
    .brand-section{
        width: fit-content;
        padding: 16px;
        cursor: default;
    }
    .navigation-panel{
        width: 60%;
        justify-content: space-between;
    }
    .navigation-links{
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
        margin-top: 0px;
    }
    .navigation-links a.register{
        width: initial;
        margin: initial;
        display: inline-block;
    }
    .navigation-links a{
        margin: 0px;
    }
    .dropdown-container,.navbar{
        margin: 0px;
    }
    .dropdown-items{
        position: absolute;
        top: 40px;
        background-color: #fff;
        border-radius: 10px;
        padding: 5px 7px;
        box-shadow: 1px 1px 10px hsl(0, 0%, 41%);

    }
    .dropdown-items.items-img{
        left: 125px;
    }
    .dropdown-items a{
        display: inline-block;
        width: 100%;

    }
    .brand-partners ul{
        align-self: self-end;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        gap: 20px;
        width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .main-hero{
        width: 80vw;
    }
    .navigation-panel{
        width: 40%;
        justify-content: space-between;
    }
    .hero-content h1{
        font-size: 60px;
    }
    .hero-content p{
        font-size: 16px;
        width: 400px;
    }
    .display-img-container img{
        width: 400px;
        height: 100%;
    }
}

